* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

header {
    box-sizing: border-box;
    max-width: 1320px;
    margin: 50px auto 0;
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 30px 80px 0;
}

header .header-content {
    width: 50%;
    /* margin-bottom: 80px; */
    color: #ffffff;
}

header .header-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 80px;
}

header .header-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

header .header-content button {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 25px;
    background-color: #DD0000;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

header .header-content .fa-chevron-right {
    margin-left: 10px;
}

header .header-image {

    width: 50%;
}

header .header-image img {
    width: 100%;
    display: block;
}

main {
    max-width: 1320px;
    margin: 130px auto;
    display: flex;
    flex-direction: row;
}

main aside {
    box-sizing: border-box;
    min-width: 312px;
    display: flex;
    flex-direction: column;
    background-color: #161616;
    border-radius: 10px;
    padding: 0 30px 30px;
    height: 312px;
    margin-right: 24px;
}

main aside a {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    color: #161616;
    padding: 17px 0;
    margin-top: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

main aside .active {
    background-color: #DD0000;
    color: #FFFFFF;
}

main #blogs {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 24px;
    row-gap: 24px;
}

main #blogs .blog {
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

main #blogs .blog .blog-image img {
    width: 100%;
}

main #blogs .blog-content {
    padding: 20px;
}

main #blogs .blog-content a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 4px 17px;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    text-decoration: none;
}

main #blogs .blog-content h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin: 15px 0;
}

main #blogs .blog-duration {
    margin-top: 5px;
}

main #blogs .blog-duration span {
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}

footer {
    background-color: #161616;
    padding: 130px 0;
}

footer h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    text-align: center;

}

footer hr {
    max-width: 1320px;
    margin: 50px auto;
    color: rgba(255, 255, 255, 0.1);
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer ul li {
    list-style: none;
    color: #B9B9B9;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0 30px;
}


@media screen and (max-width: 1200px) and (min-width: 993px) {

    header {
        max-width: 1000px;
    }

    header .header-content h1 {
        font-size: 50px;
        line-height: 50px;
    }

}

/* @media screen and (max-width: 993px) and (min-width: 767px) {

    header {
        max-width: 800px;
    }

    header .header-content h1 {
        font-size: 30px;
        line-height: 30px;
    }

} */

@media screen and (max-width: 567px) {

    header {
        max-width: 334px;
        flex-direction: column;
        padding: 28px 53px 0;
        margin: 45px auto 0;
    }

    header .header-content {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    header .header-content h1 {
        font-size: 22px;
        line-height: 33px;
    }

    header .header-content p {
        font-size: 14px;
    }

    header .header-content button {
        padding: 8px 12px;
    }

    header .header-image {
        width: 100%;
    }

    main {
        max-width: 335px;
        flex-direction: column;
        justify-content: center;
        margin: 25px auto;
    }

    main aside {
        min-width: 210px;
        flex-direction: column;
        background-color: #ffffff;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 25px;
        height: auto;
    }

    main aside a {
        padding: 10px 0;
        border: 1px solid #E8E8E8;
        margin: 0;
    }

    main aside a:nth-child(2) {
        margin: 16px 0;
    }

    main aside .active {
        border: 0;
    }

    main #blogs {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;

    }

    footer {
        padding: 25px 0 7px;
    }

    footer h1 {
        font-size: 22px;
    }

    footer hr {
        max-width: 335px;
        margin: 25px auto;
    }

    footer ul {
        /* display: flex; */
        flex-flow: column wrap;
        /* justify-content: center; */
    }

    footer ul li {
        /* text-align: center; */
        list-style: none;
        color: #B9B9B9;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin: 20px auto;
    }

}